manifest {
    mainScript = "main.nf"
}

params {
    outdir = "motus_pipeline_results"

    // --- dbs
    dbs = 'nextflow-autodownload-databases'
    download_ftp_path = 'http://ftp.ebi.ac.uk/pub/databases/metagenomics/pipeline-5.0/ref-dbs'

    // --- INPUTS
    name = ''
    reads = ''
    mode = ''

    // --- fastp filtering ---
    min_length = 10
    polya_trim = 10
    qualified_quality_phred = 15
    unqualified_percent_limit = 10

    // --- REFERENCE GENOME ---
    // -- download values
    decontamination_indexes_folder = 'hg38'
    decontamination_reference_index = 'hg38.fa'
    // --- input values
    reference_genome = false
    reference_genome_name = false

    // --- CMSEARCH ---
    // -- download values
    cmsearch_db_name = 'rfam_models'
    ribosomal_model_path = 'ribosomal_models/ribo.cm'
    ribosomal_claninfo_path = 'ribosomal_models/ribo.claninfo'
    other_model_path = 'other_models/*.cm'
    other_claninfo_path = 'other_models/other.claninfo'
    // --- input values
    rfam_ribo_models = false
    rfam_other_models = false
    rfam_ribo_clan = false
    rfam_other_clan = false

    // --- mOTUs
    // -- download values
    motus_db_name = 'db_mOTU_v3.0.1'
    // --- input values
    motus_db = 'false'

    // --- MAPSEQ ---
    // --- download values
    silva_ssu_db_name = 'silva_ssu-20200130'
    ssu_db_fasta = "SSU.fasta"
    ssu_db_tax = "slv_ssu_filtered2.txt"
    ssu_db_otu = "ssu2.otu"
    ssu_label = "SSU"
    silva_lsu_db_name = 'silva_lsu-20200130'
    lsu_db_fasta = "LSU.fasta"
    lsu_db_tax = "slv_lsu_filtered2.txt"
    lsu_db_otu = "lsu2.otu"
    lsu_label = "LSU"
    // --- input values
    ssu_db = false
    lsu_db = false
}

profiles {

    lsf {
        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"
    }
    singularity {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }

    ebi {
        params {
            outdir = "motus_pipeline_results"
            databases = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/"
            name = ""
            mode = ""

            workdir = "/hps/nobackup/rdf/metagenomics/nextflow-jobstore/motus_pipeline"
            singularity_cachedir = "/hps/nobackup/rdf/metagenomics/singularity_cache_nextflow/"

            reads = ""

            reference_genome = '/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/bwa/bwa-mem2-mbc/'
            reference_genome_name = 'hg38.fa'

            motus_db = "/hps/software/users/rdf/metagenomics/service-team/software/motus/db_mOTU_v3.0.1/"

            ssu_db = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/silva_ssu/"
            lsu_db = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/silva_lsu/"

            rfam_ribo_models = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/Rfam/ribosomal/ribo.cm"
            rfam_other_models = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/Rfam/other/*.cm"
            rfam_ribo_clan = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/Rfam/ribosomal/ribo.claninfo"
            rfam_other_clan = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/Rfam/other/other.claninfo"
        }
        workDir = params.workdir

        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"

        includeConfig 'config/codon.config'

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }

        process {
            withLabel: process_bigmem {
                queue = "bigmem"
            }
        }
    }

    local {
         docker {
            enabled = true
            fixOwnership = true
            autoMounts = true
        }
        executor {
            name = "local"
            cpus = 2
        }
        includeConfig 'config/local.config'
        params {
            databases = params.dbs
            name = "mgtest"

            reference_genome = "tests/modules/fixtures/bwa/ref"
            reference_genome_name = "GRCh38_chr10.fasta"
        }
    }
}
