
params {
    reads = '/Users/kates/Desktop/EBI/pipelines/motus_pipeline/test_data/wgs-single-ERR1995312_small.fastq.gz'
    sequence  = '/Users/kates/Desktop/EBI/pipelines/motus_pipeline/test_data/assembly-SRR1620013_small_FASTA.fasta.gz'

    // mapseq
    mapseq_db  = '/Users/kates/Desktop/EBI/pipelines/motus_pipeline/test_data/mapseq/silva-SSU'
    mapseq_taxonomy = '/Users/kates/Desktop/EBI/pipelines/motus_pipeline/test_data/mapseq/silva-filt.txt'
    mapseq_seq = '/Users/kates/Desktop/EBI/pipelines/motus_pipeline/test_data/mapseq/test.SSU.fasta'

    // krona
    otu = '/Users/kates/Desktop/EBI/pipelines/motus_pipeline/test_data/test.tsv'

    // mapseq2biom
    mapseq = '/Users/kates/Desktop/EBI/pipelines/motus_pipeline/test_data/mapseq2biom/test-mapseq'
    otu_ref = '/Users/kates/Desktop/EBI/pipelines/motus_pipeline/test_data/mapseq2biom/test-otu'
    otu_label = 'test'

    output = '/Users/kates/Desktop/EBI/pipelines/motus_pipeline/results'
}

docker {
    enabled = true
    fixOwnership = true
    // runOptions = '-u $(id -u):$(id -g)'
    autoMounts = true
}