profiles {
    aws {
        process {
            executor = 'awsbatch'
            queue = 'nextflow_queue'
        }
        aws {
            batch {
                // NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
                cliPath = '/home/ec2-user/miniconda/bin/aws'
                maxParallelTransfers = 2
                maxTransferAttempts = 2
            }
            region = 'eu-west-1'
        }
        workDir = 's3://mgnify-nf/nextflow_env'
    }
}

process {

    errorStrategy = { task.attempt <= 1 ? 'retry' : 'finish' }
    maxRetries = 1

    withName: CMSEARCH {
        cpus = 4;
        memory = { 5.GB * task.attempt }
    }
    withName: CMSEARCH_DEOVERLAP {
        cpus = 1;
        memory = { 3.GB * task.attempt }
    }
    withName: QC_REPORT {
        cpus = 1;
        memory = { 300.MB * task.attempt }
    }
    withName: DECONTAMINATION {
        cpus = 4;
        memory = 20.GB
    }
    withName: DECONTAMINATION_REPORT {
        cpus = 1;
        memory = { 3.GB * task.attempt };
    }
    withName: EASEL_EXTRACT_BY_COORD {
        cpus = 1;
        memory = { 5.GB * task.attempt }
    }
    withName: EXTRACT_MODELS {
        cpus = 1;
        memory = { 500.MB * task.attempt }
    }
    withName: FASTP {
        cpus = 4;
        memory = { 5.GB * task.attempt }
    }
    withName: KRONA {
        cpus = 2;
        memory = { 1.GB * task.attempt }
    }
    withName: MAPSEQ {
        cpus = 8;
        memory = { 8.GB * task.attempt }
    }
    withName: MAPSEQ2BIOM {
        cpus = 1;
        memory = { 1.GB * task.attempt }
    }
    withName: MOTUS {
        cpus = 4;
        memory = { 15.GB * task.attempt }
    }
    withName: QC_STATS {
        cpus = 1;
        memory = { 1.GB * task.attempt }
    }
    withName: SEQTK { cpus = 2 }
    withName: SEQPREP {
        cpus = 2;
        memory = 500.MB
    }
}

params {
    mode = "paired"
    databases = "s3://mgnify-nf/dbs"
    reference_genome = "s3://mgnify-nf/dbs/hg38"
    reference_genome_name = "hg38.fa"

    motus_db = "s3://mgnify-nf/dbs/db_mOTU"

    ssu_db = "s3://mgnify-nf/dbs/silva_ssu-20200130"
    lsu_db = "s3://mgnify-nf/dbs/silva_lsu-20200130"

    rfam_ribo_models = "s3://mgnify-nf/dbs/rfam_models/ribosomal_models/ribo.cm"
    rfam_other_models = "s3://mgnify-nf/dbs/rfam_models/other_models/*.cm"
    rfam_ribo_clan = "s3://mgnify-nf/dbs/rfam_models/ribosomal_models/ribo.claninfo"
    rfam_other_clan = "s3://mgnify-nf/dbs/rfam_models/other_models/other.claninfo"
}
