process {
    withName: CMSEARCH { cpus = 4; memory = '30.0 GB'}
    withName: GET_CMSEARCH_DB {
        container ='quay.io/biocontainers/infernal:1.1.4--pl5321hec16e2b_1'
    }
    withName: CMSEARCH_DEOVERLAP { cpus = 1; memory = '200 MB'}
    withName: RETURN_FILES {
        container ='quay.io/biocontainers/infernal:1.1.4--pl5321hec16e2b_1'
    }
    withName: QC_REPORT { cpus = 1; memory = '300 MB'}
    withName: DECONTAMINATION { cpus = 2; memory = '30.0 GB'}
    withName: DECONTAMINATION_REPORT { 
        cpus = 1; 
        memory = '1 GB';
        container ='quay.io/microbiome-informatics/bwamem2:2.2.1'
    }
    withName: GET_REF_GENOME {
        container = 'quay.io/microbiome-informatics/bwamem2:2.2.1'
    }
    withName: EASEL_EXTRACT_BY_COORD { cpus = 1; memory = '5.0 GB'}
    withName: EXTRACT_MODELS { cpus = 1; memory = '300 MB'}
    withName: FASTP { cpus = 4; memory = '5 GB'}
    withName: KRONA { cpus = 2; memory = '300 MB'}
    withName: MAPSEQ { cpus = 8; memory = '25.0 GB'}
    withName: GET_MAPSEQ_DB {
        container = 'quay.io/biocontainers/mapseq:2.1.1--ha34dc8c_0'
    }
    withName: MAPSEQ2BIOM { cpus = 1; memory = '1 GB'}
    withName: MOTUS { cpus = 4; memory = '100.0 GB'}
    withName: QC_STATS { cpus = 1; memory = '1 GB'}
    withName: SEQTK { cpus = 2 }
    withName: SEQPREP { cpus = 2; memory = '5 GB' }
    withName: SEQPREP_REPORT { 
        container = 'quay.io/biocontainers/seqprep:1.3.2--hed695b0_4'
    }
}
params {
    paired_end_forward = "s3://mgnify-nf/raw/SRR3965647_1.fastq.gz"
    paired_end_reverse = "s3://mgnify-nf/raw/SRR3965647_2.fastq.gz"
    sample_name = "SRR3965647"
    mode = "paired"
    databases = "s3://mgnify-nf/dbs"
    reference_genome = "s3://mgnify-nf/dbs/hg38"
    reference_genome_name = "hg38.fa"
    
    motus_db = "s3://mgnify-nf/dbs/db_mOTU"

    ssu_db = "s3://mgnify-nf/dbs/silva_ssu-20200130"
    lsu_db = "s3://mgnify-nf/dbs/silva_lsu-20200130"

    rfam_ribo_models = "s3://mgnify-nf/dbs/rfam_models/ribosomal_models/ribo.cm"
    rfam_other_models = "s3://mgnify-nf/dbs/rfam_models/other_models/*.cm"
    rfam_ribo_clan = "s3://mgnify-nf/dbs/rfam_models/ribosomal_models/ribo.claninfo"
    rfam_other_clan = "s3://mgnify-nf/dbs/rfam_models/other_models/other.claninfo"
}