process {

    errorStrategy = { task.attempt <= 1 ? 'retry' : 'finish' }
    maxRetries = 1

    withName: CMSEARCH { cpus = 4; memory = { 5.GB * task.attempt } }
    withName: GET_CMSEARCH_DB {
        container ='quay.io/biocontainers/infernal:1.1.4--pl5321hec16e2b_1'
    }
    withName: CMSEARCH_DEOVERLAP { cpus = 1; memory = { 3.GB * task.attempt }}
    withName: RETURN_FILES {
        container ='quay.io/biocontainers/infernal:1.1.4--pl5321hec16e2b_1'
    }
    withName: QC_REPORT { cpus = 1; memory = { 300.MB * task.attempt }}
    withName: DECONTAMINATION { cpus = 4; memory = '20.0 GB'}
    withName: DECONTAMINATION_REPORT {
        cpus = 1;
        memory = { 3.GB * task.attempt };
        container ='quay.io/microbiome-informatics/bwamem2:2.2.1'
    }
    withName: GET_REF_GENOME {
        container = 'quay.io/microbiome-informatics/bwamem2:2.2.1'
    }
    withName: EASEL_EXTRACT_BY_COORD { cpus = 1; memory = { 5.GB * task.attempt } }
    withName: EXTRACT_MODELS { cpus = 1; memory = { 500.MB * task.attempt } }
    withName: FASTP { cpus = 4; memory = { 5.GB * task.attempt } }
    withName: KRONA { cpus = 2; memory = { 1.GB * task.attempt } }
    withName: MAPSEQ { cpus = 8; memory = { 8.GB * task.attempt } }
    withName: GET_MAPSEQ_DB {
        container = 'quay.io/biocontainers/mapseq:2.1.1--ha34dc8c_0'
    }
    withName: MAPSEQ2BIOM { cpus = 1; memory = { 1.GB * task.attempt } }
    withName: MOTUS { cpus = 4; memory = { 15.GB * task.attempt } }
    withName: QC_STATS { cpus = 1; memory = { 1.GB * task.attempt } }
    withName: SEQTK { cpus = 2 }
    withName: SEQPREP { cpus = 2; memory = '500 MB' }
    withName: SEQPREP_REPORT { 
        container = 'quay.io/biocontainers/seqprep:1.3.2--hed695b0_4'
    }
}
params {
    mode = "paired"
    databases = "s3://mgnify-nf/dbs"
    reference_genome = "s3://mgnify-nf/dbs/hg38"
    reference_genome_name = "hg38.fa"

    motus_db = "s3://mgnify-nf/dbs/db_mOTU"

    ssu_db = "s3://mgnify-nf/dbs/silva_ssu-20200130"
    lsu_db = "s3://mgnify-nf/dbs/silva_lsu-20200130"

    rfam_ribo_models = "s3://mgnify-nf/dbs/rfam_models/ribosomal_models/ribo.cm"
    rfam_other_models = "s3://mgnify-nf/dbs/rfam_models/other_models/*.cm"
    rfam_ribo_clan = "s3://mgnify-nf/dbs/rfam_models/ribosomal_models/ribo.claninfo"
    rfam_other_clan = "s3://mgnify-nf/dbs/rfam_models/other_models/other.claninfo"
}
