
/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store EBI's Codon cluster specifics
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    workdir              = "/hps/nobackup/rdf/metagenomics/service-team/nextflow-workdir/motus/$USER"
    singularity_cachedir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"
}

workDir = params.workdir

process {
    withName: CMSEARCH { cpus = 4; memory = '30.0 GB'; time = '16.h'}
    withName: CMSEARCH_DEOVERLAP { cpus = 1; memory = '200 MB'; time = '4.h'}
    withName: QC_REPORT { cpus = 1; memory = '300 MB'; time = '4.h'}
    withName: DECONTAMINATION { cpus = 2; memory = '30.0 GB'; time = '16.h'}
    withName: DECONTAMINATION_REPORT { cpus = 1; memory = '300 MB'; time = '1.h'}
    withName: EASEL_EXTRACT_BY_COORD { cpus = 1; memory = '16 GB'; time = '8.h'}
    withName: EXTRACT_MODELS { cpus = 1; memory = '300 MB'; time = '4.h'}
    withName: FASTP { cpus = 4; memory = '10 GB'; time = '8.h'}
    withName: KRONA { cpus = 2; memory = '300 MB'; time = '1.h'}
    withName: MAPSEQ { cpus = 8; memory = '25.0 GB'; time = '8.h'}
    withName: MAPSEQ2BIOM { cpus = 1; memory = '200 MB'; time = '1.h'}
    withName: MOTUS { cpus = 2; memory = '20.0 GB'; time = '8.h'}
    withName: QC_STATS { cpus = 1; memory = '200 MB'; time = '4.h'}
    withName: SEQTK { cpus = 2; time = '4.h' }
    withName: SEQPREP { cpus = 2; memory = '5 GB'; time = '16.h' }

}
