/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store CODON DB paths and names
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    databases = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/"
    workdir = "/hps/nobackup/rdf/metagenomics/nextflow-jobstore/motus_pipeline"
    singularity_cachedir = "/hps/nobackup/rdf/metagenomics/singularity_cache_nextflow/"
    reference_genome = '/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/bwa-mem2/'
    reference_genome_name = 'hg38.fa'

    motus_db = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/mOTUs/db_mOTU_v3.0.1/db_mOTU"

    ssu_db = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/silva_ssu/"
    lsu_db = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/silva_lsu/"

    rfam_ribo_models = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/Rfam/ribosomal/ribo.cm"
    rfam_other_models = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/Rfam/other/*.cm"
    rfam_ribo_clan = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/Rfam/ribosomal/ribo.claninfo"
    rfam_other_clan = "/hps/nobackup/rdf/metagenomics/service-team/production/ref-dbs/mgnify-v5/Rfam/other/other.claninfo"
}