process.executor = 'lsf'

process {
    withLabel: CMSEARCH { cpus = 4; memory = '30.0 GB'}
    withLabel: CMSEARCH_DEOVERLAP { cpus = 1; memory = '200 MB'}
    withLabel: FASTP_REPORT { cpus = 1; memory = '300 MB'}
    withLabel: DECONTAMINATION { cpus = 2; memory = '30.0 GB'}
    withLabel: EASEL_EXTRACT_BY_COORD { cpus = 1; memory = '5.0 GB'}
    withLabel: EXTRACT_MODELS { cpus = 1; memory = '300 MB'}
    withLabel: FASTP { cpus = 1; memory = '300 MB'}
    withLabel: KRONA { cpus = 2; memory = '300 MB'}
    withLabel: MAPSEQ { cpus = 8; memory = '25.0 GB'}
    withLabel: MAPSEQ2BIOM { cpus = 1; memory = '200 MB'}
    withLabel: MOTUS { cpus = 2; memory = '20.0 GB'}
    withLabel: QC_STATS { cpus = 1; memory = '200 MB'}
    withLabel: SEQTK { cpus = 2 }
}