process.executor = 'lsf'

process {
    withName: CMSEARCH { cpus = 4; memory = '30.0 GB'}
    withName: CMSEARCH_DEOVERLAP { cpus = 1; memory = '200 MB'}
    withName: QC_REPORT { cpus = 1; memory = '300 MB'}
    withName: DECONTAMINATION { cpus = 2; memory = '30.0 GB'}
    withName: DECONTAMINATION_REPORT { cpus = 1; memory = '300 MB'}
    withName: EASEL_EXTRACT_BY_COORD { cpus = 1; memory = '5.0 GB'}
    withName: EXTRACT_MODELS { cpus = 1; memory = '300 MB'}
    withName: FASTP { cpus = 4; memory = '10 GB'}
    withName: KRONA { cpus = 2; memory = '300 MB'}
    withName: MAPSEQ { cpus = 8; memory = '25.0 GB'}
    withName: MAPSEQ2BIOM { cpus = 1; memory = '200 MB'}
    withName: MOTUS { cpus = 2; memory = '20.0 GB'}
    withName: QC_STATS { cpus = 1; memory = '200 MB'}
    withName: SEQTK { cpus = 2 }
    withName: SEQPREP { cpus = 2; memory = '5 GB' }

    withLabel: process_bigmem {
        queue = "bigmem"
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}
