process.executor = 'local'

process {
    withLabel: cmsearch { cpus = 1; memory = '20.0 GB'}
    withLabel: cmsearch-deoverlap { cpus = 1; memory = '200 MB'}
    withLabel: fastp_report { cpus = 1; memory = '300 MB'}
    withLabel: decontamination { cpus = 2; memory = '20.0 GB'}
    withLabel: easel { cpus = 1; memory = '5.0 GB'}
    withLabel: extract_coords { cpus = 1; memory = '300 MB'}
    withLabel: fastp { cpus = 1; memory = '300 MB'}
    withLabel: krona { cpus = 2; memory = '300 MB'}
    withLabel: mapseq { cpus = 2; memory = '20.0 GB'}
    withLabel: mapseq2biom { cpus = 1; memory = '200 MB'}
    withLabel: motus { cpus = 2; memory = '20.0 GB'}
    withLabel: qc_summary { cpus = 1; memory = '200 MB'}
    withLabel: seqtk { cpus = 2 }
}

