/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store module specific params.
     - publishDir
     - ext arguments
     - prefixes
     ( execution params are in nf_*.config )
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: "GET_REFERENCE_GENOME" {
        publishDir = [
            [
                path: "${params.databases}",
                mode: params.publish_dir_mode,
                failOnError: true
            ]
        ]
    }
    
    withName: "GET_RFAM_DB" {
        publishDir = [
            [
                path: "${params.databases}",
                mode: params.publish_dir_mode,
                failOnError: true
            ]
        ]
    }
    
    withName: "GET_MAPSEQ_DB" {
        publishDir = [
            [
                path: "${params.databases}",
                mode: params.publish_dir_mode,
                failOnError: true
            ]
        ]
    }
}